<div class="user-verification" flex="100" layout="row" layout-gt-md="row"
     layout-wrap
     layout-fill
     layout-align="center stretch" layout-align-gt-md="center stretch">
    <div flex="100" class="md-padding">
        <md-button class="md-icon-button" ng-click="skipVerification()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
    </div>
    <div flex-gt-md="50"
         flex="100"
         layout="row"
         layout-align="end center">

        <div flex-gt-md="80"
             flex="100"
             layout="row"
             layout-align-gt-md="start start" layout-align="center center">
                <div flex="100" layout="row" layout-align="center center" class="md-padding" layout-wrap>

                    <div flex="100"
                         layout="column"
                         layout-gt-md="row"
                         layout-align-gt-md="start start"
                         layout-align="center center"
                         layout-wrap>
                        <h2 flex="100" class="text-transform-none"> {{  'ID_VERIFICATION' | translate }} </h2>
                        <h4 flex="100" class="text-transform-none"> {{ 'TAKE_PIC_OF_ID' | translate }} </h4>
                        <span flex="50" hide-xs hide-sm hide-md> {{ 'ID_VERIFICATION_MANDATORY_DESCRIPTION' | translate }} </span>
                        <span flex="50" hide-gt-md class="textCenter"> {{ 'ID_VERIFICATION_MANDATORY_DESCRIPTION' | translate }} </span>
                    </div>
                    <div flex="100" layout="column" layout-align-gt-md="start start" layout-align="start center">
                        <md-button
                                ng-repeat="method in uploadMethods"
                                class="round-corners5px upload-method-btn"
                                ng-class="{'isSelected': method.value === selectedUploadMethod}"
                                ng-click="selectUploadMethod(method.value)">
                                {{ method.title | translate }}
                        </md-button>
                    </div>
                    <div flex="100" layout="row" layout-align-gt-md="start start" layout-align="center center" layout-wrap>
                        <md-button flex-gt-md="40"
                                   hide-xs
                                   hide-sm
                                   hide-md
                                   ng-if="!isLoading"
                                   ng-click="verifyId()"
                                   class="font20pt md-primary md-raised text-transform-none verify-btn round-corners5px"
                                   md-colors="::{backgroundColor:'default-primary-200',color:'default-primary-A500'}"> {{'VERIFY' | translate}} </md-button>
                        <md-progress-circular
                                hide-xs
                                hide-sm
                                hide-md
                                class="image-processing"
                                ng-if="isLoading"
                                md-diameter="50"></md-progress-circular>

                        <span flex="100"
                              hide-xs
                              hide-sm
                              hide-md
                              class="horizontalPadding10px"
                              ng-if="statusError != null && !isLoading"
                              md-colors="::{color:'default-warn-A700'}"> {{statusError}} </span>
                    </div>
                </div>
        </div>
    </div>

    <div flex-gt-md="50"
         flex="100"
         layout="row"
         layout-align="start center" layout-wrap>

        <div flex-gt-md="80"
             flex="100"
             layout="row" layout-align="end start">
                <div flex="100" layout="column" layout-align="center center" class="md-padding upload-methods">
                    <div ng-repeat="uploadElement in uploadData[selectedUploadMethod]"
                         class="upload-method md-margin md-padding round-corners5px md-whiteframe-1dp"
                         ng-click="clickToUpload(uploadElement.elementId)"
                         layout-align="center center"
                         layout="row">

                        <span ng-if="uploadElement.imgData == null && !uploadElement.isProcessingImg">{{ uploadElement.title | translate }}</span>

                        <img class="img-data" ng-if="uploadElement.imgData != null && !uploadElement.isProcessingImg" src="{{uploadElement.imgData}}">
                        <md-progress-circular ng-if="uploadElement.isProcessingImg" md-diameter="40" class="image-processing"></md-progress-circular>
                        <input id="{{uploadElement.elementId}}"
                               type="file"
                               accept="image/*"
                               style="display: none"
                               ng-model="uploadElement.imgData"
                               onchange="angular.element(this).scope().onUploaded(this)"/>
                    </div>
                </div>
        </div>
        <div flex="100" class="verticalPadder80px padding5px"
             hide-gt-md></div>
        <!-- Bottom mobile sticky -->
    </div>
    <div flex="100"></div>
    <div class="verify-btn-container-bottom-sticky" hide-gt-md layout-align="center center" layout="row" layout-wrap>
        <!--<span flex="100" class="horizontalPadding10px" ng-if="statusError != null && !isLoading" md-colors="::{color:'default-warn-A700'}"> {{ statusError }} </span>-->
        <md-button flex="100"
                   hide-gt-md
                   ng-if="!isLoading"
                   class="font20pt md-primary md-raised text-transform-none verify-btn round-corners5px"
                   ng-click="verifyId()"
                   md-colors="::{backgroundColor:'default-primary-200',color:'default-primary-A500'}"> {{'VERIFY' | translate}} </md-button>
        <md-progress-circular class="image-processing" ng-if="isLoading" md-diameter="50"></md-progress-circular>
    </div>

</div>