<md-dialog aria-label="Some" id="changePasswordPopup">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>{{'CHANGE_PASS' | translate}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" ng-disabled="isProcessing">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center stretch" style="min-width:310px;min-height:280px;">
        <div layout="column" layout-align="center stretch" class="md-padding">
            <md-input-container>
                <label> {{'OLD_PASS' | translate}} </label>
                <input ng-model="changePassModel.oldPassword" name="password" type="password" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label> {{'NEW_PASS' | translate}}</label>
                <input ng-model="changePassModel.newPassword" name="password" type="password" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label> {{'NEW_PASS_CONFIRM' | translate}} </label>
                <input ng-model="changePassModel.newPasswordConfirmation" name="password" type="password" ng-required="true">
            </md-input-container>
            <span ng-if="statusError" md-colors="::{color:'default-warn-600'}">{{statusError | translate}}</span>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-show="!isProcessing" ng-click="changePass()">{{'CHANGE' | translate}}</md-button>
        <md-progress-circular md-diameter="20" ng-show="isProcessing"></md-progress-circular>
    </md-dialog-actions>
</md-dialog>