<md-dialog aria-label="Some" id="loginPopup">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>{{'HEADER_TITLE_FORGOT_PASSWORD' | translate}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" >
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">

        <div style="width:500px;">
            <form name="forgotPasswordForm" style="padding:10px;" ng-submit="forgotPassword(forgotpasswordData.email)">

                <p class="md-padding">{{'HEADER_FORGOT_PASSWORD_TEXT' | translate }}</p>

                <md-input-container class="md-icon-float md-block md-margin">
                    <label>{{'HEADER_EMAIL' | translate}}</label>
                    <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
                    <md-icon class="fa fa-envelope fa-lg"></md-icon>
                    <input ng-model="forgotpasswordData.email" name="email" type="email" ng-required="true">
                </md-input-container>

                <md-input-container>
                    <div ng-switch on="btnForgotPasswordStatus">
                        <div  ng-switch-when="1"><md-progress-circular md-diameter="30"/></div>
                        <div  ng-switch-default><md-button type="submit"  class="md-raised md-primary">{{'HEADER_SEND' | translate}}</md-button></div>
                    </div>
                </md-input-container>
                <div ng-switch on="forgotpasswordStatus">
                    <div  ng-switch-when="error">{{forgotPasswordMessage}}</div>

                    <div  ng-switch-when="success">{{forgotPasswordMessage}}</div>
                </div>

            </form>
        </div>

    </md-dialog-content>
</md-dialog>
