<div class="md-padding"
     flex="100"
     layout-gt-sm="row"
     layout="column"
     layout-align="center stretch">

    <div
            class="md-padding"
            layout-align="center center"
            layout-align-gt-sm="center end"
            layout="column"
            flex>
        <img lazy-loading="{{::imgUrl}}" style="width: 350px; height: 280px; object-fit: cover;"/>
    </div>

    <div class="md-padding"
         layout-align="center center"
         layout-align-gt-sm="center start"
         layout="column"
         flex="100"
         flex-gt-sm="50">

        <h3 class="fontWeight500 font15pt text-transform-none" ng-bind-html="::tutorialTitle"></h3>

        <ol class="md-padding fontWeight500" md-colors="::{color: 'default-primary-500'}">
            <li ng-repeat="step in ::stepsList" class="fontWeight500 font15pt">
                {{::step | translate}}
            </li>
        </ol>

        <span>{{::tutorialDescription | translate}}</span>
    </div>

</div>