<div class="rental-request-how-to md-whiteframe-4dp md-padding">
    <h5 class="text-transform-none">{{'HOW_DOES_IT_WORK' | translate}}</h5>
    <ol class="font10pt fontWeight400" md-colors="::{color:'default-primary-A300'}">
        <li>{{ (isBuy ? 'HOW_DOES_IT_WORK_BUY_NO1' : isTryAndBuy ? 'HOW_DOES_IT_WORK_TRY_NO1' : 'HOW_DOES_IT_WORK_NO1') | translate}}</li>
        <li>{{ (isBuy ? 'HOW_DOES_IT_WORK_BUY_NO2' : isTryAndBuy ? 'HOW_DOES_IT_WORK_TRY_NO2' : 'HOW_DOES_IT_WORK_NO2') | translate}}</li>
        <li>{{ (isBuy ? 'HOW_DOES_IT_WORK_BUY_NO3' : isTryAndBuy ? 'HOW_DOES_IT_WORK_TRY_NO3' : 'HOW_DOES_IT_WORK_NO3') | translate}}</li>
    </ol>
</div>